video {
  border-radius: 45px;
}

.btn {
  border-radius: 45px;
  display: block;
  border: 0;
  padding: 1%;
  margin-top: 5px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 19px;
  cursor: pointer;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
